* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 5%;
}

header {
    width: 101%;
    height: auto;
    text-align: center;
    background-color: #0467fc;
    color: #ffffff;
    position: fixed;
    margin: -1%;
}

header h1 {
    font-size: 300%;
    padding: 1%;
}

/*Botones*/
.buttonGeneral,
.buttonVioleta,
.buttonVerde,
.buttonNaranja,
.buttonOriginal {
    font-size: 120%;
    padding: 3%;
    border: none;
    border-radius: 5px;
    margin: 2%;
    background-color: #0467fc;
    color: #ffffff;
}

.mainText {
    background-color: #0467fc;
    color: #ffffff;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}

.buttonVioleta {
    background-color: #a73aaf;
    color: #ffffff;
}

.buttonVerde {
    background-color: #12771b;
    color: #ffffff;
}

.buttonNaranja {
    background-color: #eb8423;
    color: #000000;
}



/* configuracion tu talonario*/

#alerta {
    text-align: center;
    width: 36%;
    box-shadow: 7px 7px 14px #807c7c,
        -7px -7px 14px #807c7c;
    z-index: 1200;
    margin-left: 28%;

}

h3 {
    width: 100%;
    height: 50px;
    padding: 2%;
    padding-top: 4%;
    text-align: center;
    border-radius: 10px;
    background-color: red;
    color: #ffffff;
    position: fixed;
}

#datosIniciales {
    width: 40%;
    height: auto;
    margin-left: 28%;
    position: fixed;
    padding: 1%;
    margin-top: 6%;
    border-radius: 10px;
    text-align: center;
    z-index: 1100;

}



input[type="text"] {
    width: 80%;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin: 1%;
    padding-left: 2%;
    font-size: 100%;
}

input[type="date"] {
    width: 80%;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin: 1%;
    padding-left: 2%;
    font-size: 100%;
}


select {
    width: 80%;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin: 1%;
    padding-left: 2%;
    font-size: 100%;
}

/* principal */
.principal {
    width: 100%;
    padding-top: 6%;
    display: grid;
    grid-template-columns: 80% 20%;


}

/* informacion  */
.informacion {
    background-color: #dee2e2;
    width: 90%;
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    text-align: center;

}

.informacion2 {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 10px;
    margin-top: 3%;

}

.informacion2 P {
    margin: 1%;
    font-size: 150%;
    text-align: left;

}

/* Boleteria */
#principalBoleteria {
    text-align: center;
    margin: 2%;
    background-color: #dee2e2;
    padding: 1%;
    border-radius: 10px;
}

.principalBoleteria h2 {

    margin-top: 1%;
    padding: 1%;
    font-size: 200%;
    border-radius: 10px 10px 0 0;
}

.boleteria {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-right: 2%;
}

.boleta {
    width: 80px;
    height: 80px;
    margin: 3%;
    padding: 1%;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    font-size: 150%;
    display: grid;
    place-items: center;



}

.estado-pagada {
    background-color: #148014;
}

.estado-porPagar {
    background-color: #be1a1a;
}

.estado-ganador {
    background-color: #e9ad09;
    color: #000000;
    font-size: 200%;
}


.estado-disponible {
    background-color: #0467fc;
}

/* Datos Comprador */
.datosComprador {
    margin: 1%;
    margin-top: 6%;
    border-radius: 10px;
    background-color: #b8bdbd;
    margin-left: 30%;
    position: fixed;

}

.datosComprador p {
    border-radius: 5px;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin: 2%;
}

.datosComprador h2 {
    text-align: center;
    padding: 1%;
    border-radius: 10px 10px 0 0;
}

.datosComprador input[type="text"] {
    background-color: #dee2e2;
    width: 95%;
}

.datos {
    background-color: #ffffff;
    margin: 4%;
    padding: 2%;
    border-radius: 10px;
}

.buttonCerrarComprador {
    background-color: #ffffff;
    margin-top: 2%;
    margin-left: 85%;

}

/* Acciones */
.acciones {
    background-color: #dee2e2;
    width: 90%;
    margin: 1%;
    margin-top: 6%;
    padding: 2%;
    border-radius: 10px;
    text-align: center;

}

.acciones2 {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 10px;
    margin-top: 3%;

}

.buttonAcciones {
    width: 80%;
    padding: 3%;
    margin: 2%;
    border-radius: 5px;
    border: none;
    background-color: #0467fc;
    color: #ffffff;
}

/*ingresar nuemero loteria*/
#numeroLoteria {
    width: 25%;
    background-color: #b8bdbd;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    /* z-index: 1300; */
    margin-left: 35%;
    margin-top: 7%;
}

#numeroLoteria p {
    width: 60%;
    margin-left: 15%;
    padding: 2%;
    text-align: left;
    margin-bottom: 2%;
    border-radius: 6PX;
    font-size: 120%;

}

input[type="number"] {
    width: 80%;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin: 2%;
    padding-left: 2%;
    font-size: 100%;
}

/*mostrar informacion de la boleta*/
#datosBoleta {
    background-color: #b8bdbd;
    border-radius: 10px;
    width: 30%;
    padding: 0% 0% 1% 2%;
    font-size: 120%;
    font-weight: bold;
    margin-left: 30%;
    position: fixed;

}

#datosBoleta P {
    background-color: #ffffff;
    padding: 2%;
    width: 90%;

}


/*tabla lista de boletas*/
.listaBoletas {
    background-color: #b8bdbd;
    border-radius: 10px;
    padding-bottom: 2%;


}

.mainTable {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;

}

.mainTable th,
.mainTable td {
    border: 1px solid #000000;
    padding: 8px;


}

.listaBoletas h2 {
    text-align: center;
    padding-bottom: 1%;
}

.mainTable th {
    padding: 8px;
    text-align: center;
}

.tableHeader {
    background-color: #0467fc;
    color: #ffffff;
}


.mainTable td {
    text-align: left;
}

.mainTable tfoot td {
    font-weight: bold;
}



/*temas*/
#seleccionarTema {
    width: 40%;
    text-align: center;
    margin-left: 20%;
    margin-top: 7%;
    border-radius: 10px;
    z-index: 1300;
    position: fixed;
}

.generalClass {
    background-color: #b8bdbd;
}

/* footer */

footer {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #0467fc;
    color: #ffffff;
    position: absolute;
    bottom: 0;
}

footer p {
    padding: 1%;
    font-size: 120%;
}


/* Define estilos para diferentes temas */
/*Original*/
.defaultTheme{
    .mainContainer header {
        background-color: #5f5d61;
        color: #ffffff;
    }
    
}
/* Tema One */
.themeOne {
    background-color: #b96dec;
}

.mainContainer.themeOne header {
    background-color: #4c007d;
    color: #ffffff;
}

.mainContainer.themeOne footer {
    background-color: #4c007d;
    color: #ffffff;
}

.mainContainer.themeOne .buttonAcciones {
    background-color: #a73aaf;
}

.mainContainer.themeOne .buttonGeneral {
    background-color: #a73aaf;
}

.mainContainer.themeOne .mainText {
    background-color: #a73aaf;
}

.mainContainer.themeOne .generalClass {
    background-color: #bfaace;
}

.mainContainer.themeOne .tableHeader {
    background-color: #871490;
}

/* Tema Two */
.themeTwo {
    background-color: #9fee98;
}

.mainContainer.themeTwo .generalClass {
    background-color: #a8cca5;
}

.mainContainer.themeTwo header {
    background-color: #0c3e11;
    color: #ffffff;
}

.mainContainer.themeTwo footer {
    background-color: #0c3e11;
    color: #ffffff;
}

.mainContainer.themeTwo .buttonAcciones {
    background-color: #075713;
}

.mainContainer.themeTwo .buttonGeneral {
    background-color: #075713;
}

.mainContainer.themeTwo .mainText {
    background-color: #2b8833;
}

.mainContainer.themeTwo .tableHeader {
    background-color: #0c3e11;
}

/* Tema Three */
.themeThree {
    background-color: #ffd689;
}

.mainContainer.themeThree .generalClass {
    background-color: #c9bba0;
}


.mainContainer.themeThree header {
    background-color: #eb8423;
    color: #000000;
}

.mainContainer.themeThree footer {
    background-color: #eb8423;
    color: #000000;
}

.mainContainer.themeThree .buttonAcciones {
    background-color: #ffc548;
    color: #000000;
}

.mainContainer.themeThree .buttonGeneral {
    background-color: #ffc548;
    color: #000000;
}

.mainContainer.themeThree .mainText {
    background-color: #ed8900;
    color: #000000;
}

.mainContainer.themeThree .tableHeader {
    background-color: #c96c00;
}



/*Responsibidad*/
@media(max-width:1200px) {
    .boleta {
        width: 60px;
        height: 60px;
    }
}

@media(max-width:900px) {
    .principal {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;

    }

    .acciones {
        width: 60%;
        margin-left: 20%;

    }

    .informacion {

        width: 60%;
        margin-left: 20%;

    }

    .principal2 {
        display: grid;
        grid-template-columns: 50% 50%;

    }
}

@media(max-width:700px) {

    .principal2 {
        display: grid;
        grid-template-columns: 100%;

    }

    .boleteria {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-right: 2%;
    }

    .numeroLoteria {
        width: 50%;
        margin-left: 5%;
    }

    #datosIniciales {

        width: 70%;
        margin-left: 15%;
    }

    .seleccionarTema {
        width: 70%;
    }

    .listaBoletas table {
        width: 90%;
    }

}
